---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-assistant
spec:
  interval: 30m
  path: ./kubernetes/apps/default/home-assistant/app
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: multus-networks
      namespace: kube-system
    - name: longhorn
      namespace: longhorn-system
    - name: volsync
      namespace: volsync-system
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  wait: false
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
    substitute:
      APP: home-assistant
      VOLSYNC_CAPACITY: 5Gi
      GATUS_SUBDOMAIN: hass
