---
apiVersion: v1
kind: Secret
metadata:
  name: akeyless-secret
  namespace: external-secrets
stringData:
  accessId: ak://kubernetes/akeyless/AK_ACCESS_ID
  accessType: ak://kubernetes/akeyless/AK_ACCESS_TYPE
  accessTypeParam: ak://kubernetes/akeyless/AK_ACCESS_TYPE_PARAM
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_ID: ak://kubernetes/cloudflare/CLOUDFLARE_TUNNEL_ID
