---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: autobrr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless
  target:
    name: autobrr-secret
    template:
      data:
        AUTOBRR__SESSION_SECRET: "{{ .AUTOBRR_SESSION_SECRET }}"
        AUTOBRR__OIDC_CLIENT_ID: "{{ .AUTOBRR_CLIENT_ID }}"
        AUTOBRR__OIDC_CLIENT_SECRET: "{{ .AUTOBRR_CLIENT_SECRET }}"
  dataFrom:
    - extract:
        key: autobrr
