---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media

components:
  - ../../components/sops
  - ../../components/namespace

resources:
  - ./agregarr/ks.yaml
  - ./imagemaid/ks.yaml
  # - ./plex/ks.yaml
  - ./seerr/ks.yaml
  - ./tautulli/ks.yaml
