---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: teslamate
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless
  target:
    name: teslamate-secret
    template:
      data:
        ENCRYPTION_KEY: "{{ .TESLAMATE_ENCRYPTION_KEY }}"
        DATABASE_PASS: "{{ .${APP}_postgres_password }}"
        DATABASE_USER: "${APP}"
        DATABASE_NAME: "${APP}"
        DATABASE_HOST: ${CNPG_NAME:=pgsql-cluster}-rw.database.svc.cluster.local
  dataFrom:
    - extract:
        key: teslamate
    - extract:
        key: cnpg-users
