---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: teslamate
spec:
  chartRef:
    kind: OCIRepository
    name: teslamate
  interval: 30m
  values:
    controllers:
      teslamate:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
            envFrom: &envFrom
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
        containers:
          app:
            image:
              repository: teslamate/teslamate
              tag: 2.2.0@sha256:db111162f1037a8c8ce6fe56e538a4432b8a34d3d6176916ba22d42ef7ee4b78
            envFrom: *envFrom
            env:
              TZ: America/Los_Angeles
              DISABLE_MQTT: "false"
              MQTT_HOST: "mosquitto.dbms.svc.cluster.local"
              DATABASE_NAME: "teslamate"
              DATABASE_HOST: "postgres17-rw.dbms.svc.cluster.local"
            resources:
              requests:
                memory: 250Mi
                cpu: 50m
              limits:
                memory: 500Mi
    service:
      app:
        ports:
          http:
            port: 4000
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
