---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cnpg-operator
spec:
  targetNamespace: dbms
  interval: 30m
  path: "./kubernetes/apps/dbms/cnpg/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cnpg-barman-cloud
spec:
  dependsOn:
    - name: cnpg-operator
  interval: 1h
  path: ./kubernetes/apps/dbms/cnpg/barman-cloud
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
    substitute:
      # renovate: datasource=docker depName=ghcr.io/cloudnative-pg/plugin-barman-cloud-sidecar
      SIDECAR_IMAGE_VERSION: v0.11.0
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: dbms
  timeout: 5m
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cnpg-cluster
spec:
  targetNamespace: dbms
  interval: 1h
  path: "./kubernetes/apps/dbms/cnpg/cluster"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  dependsOn:
    - name: cnpg-operator
    - name: cnpg-barman-cloud
    - name: longhorn
      namespace: longhorn-system
    - name: akeyless-stores
      namespace: external-secrets
  # healthCheckExprs:
  #     - apiVersion: postgresql.cnpg.io/v1
  #       kind: Cluster
  #       failed: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'False')
  #       current: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'True')
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
    substitute:
      # renovate: datasource=docker depName=ghcr.io/cloudnative-pg/postgresql
      POSTGRESQL_VERSION: "17.7"
