---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: nut-exporter
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless
  target:
    name: nut-exporter-secret
    template:
      data:
        NUT_EXPORTER_USERNAME: "{{ .NUT_USERNAME }}"
        NUT_EXPORTER_PASSWORD: "{{ .NUT_PASSWORD }}"
  dataFrom:
    - extract:
        key: nut-exporter
