---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: mosquitto
spec:
  interval: 1h
  path: ./kubernetes/apps/dbms/mosquitto/app
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: dbms
  wait: false
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
