---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: volsync
spec:
  dependsOn:
    - name: snapshot-controller
      namespace: kube-system
  interval: 1h
  path: ./kubernetes/apps/volsync-system/volsync/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: volsync-system
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: volsync-maintenance
spec:
  dependsOn:
    - name: volsync
  interval: 1h
  path: ./kubernetes/apps/volsync-system/volsync/maintenance
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: volsync-system
  wait: false
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: volsync-synchronization
spec:
  dependsOn:
    - name: volsync
  interval: 1h
  path: ./kubernetes/apps/volsync-system/volsync/synchronization
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: volsync-system
  wait: false
