---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: security

components:
  - ../../components/sops
  - ../../components/namespace

resources: []
  # - ./lldap/ks.yaml
  # - ./pocket-id/ks.yaml
