---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-secrets

components:
  - ../../components/sops
  - ../../components/namespace

resources:
  - ./external-secrets/ks.yaml
  - ./akeyless/ks.yaml
