---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: lldap
spec:
  targetNamespace: security
  path: ./kubernetes/apps/security/lldap/app
  components:
    - ../../../../components/cnpg
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 30m
  dependsOn:
    - name: cnpg-cluster
      namespace: dbms
    - name: akeyless-stores
      namespace: external-secrets
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
    substitute:
      APP: lldap
      CNPG_NAME: pgsql-cluster
