---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: mosquitto
  values:
    controllers:
      mosquitto:
        type: statefulset
        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22@sha256:6852da90a65dfff7aa3a1c8b249e92bb83c17ea8bbcce56bedff8707332a1a29
            env:
              TZ: America/Los_Angeles
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 100Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
        statefulset:
          volumeClaimTemplates:
            - name: config
              storageClass: longhorn
              accessMode: ReadWriteOnce
              size: 5Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      mosquitto:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 172.24.30.92
        externalTrafficPolicy: Local
        ports:
          mqtt:
            port: 1883
    configMaps:
      config:
        data:
          mosquitto.conf: |-
            allow_anonymous true
            autosave_interval 60
            connection_messages false
            listener 1883
            per_listener_settings false
            persistence true
            persistence_location /config
    persistence:
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /mosquitto/config/mosquitto.conf
            subPath: mosquitto.conf
