---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/volsync.backube/kopiamaintenance_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: KopiaMaintenance
metadata:
  name: daily
spec:
  enabled: true
  trigger:
    schedule: "15 12,18,00 * * *" # Every 12 hours at 12:30, 18:30 and 00:30
  repository:
    repository: volsync-maintenance-secret
