---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/volsync.backube/kopiamaintenance_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: KopiaMaintenance
metadata:
  name: daily
spec:
  enabled: true
  trigger:
    schedule: 45 */12 * * *
  repository:
    repository: volsync-maintenance-secret
