---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: plex
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless
  target:
    name: plex-secret
    template:
      data:
        PLEX_TOKEN: "{{ .PLEX_API_KEY }}"
  dataFrom:
    - extract:
        key: plex
