---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: teslamate
spec:
  interval: 30m
  path: ./kubernetes/apps/default/teslamate/app
  components:
    - ../../../../components/cnpg
  dependsOn:
    - name: cnpg-cluster
      namespace: dbms
    - name: akeyless-stores
      namespace: external-secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  wait: false
  postBuild:
    substitute:
      APP: teslamate
      CNPG_NAME: pgsql-cluster
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
