---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: imagemaid
spec:
  chartRef:
    kind: OCIRepository
    name: imagemaid
  interval: 15m
  values:
    controllers:
      imagemaid:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          schedule: "0 1 * * *"   # Every day at 1:00 AM PDT/PST aware
          timeZone: America/Los_Angeles
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
        containers:
          app:
            image:
              repository: docker.io/kometateam/imagemaid
              tag: v1.1.1@sha256:fbec331b36c1473f8a9c4214f55e5b097860476c8a5274eb61a2b85df89e56cc
            env:
              PLEX_URL: http://plex.media.svc.cluster.local:32400
              PLEX_PATH: /data/plex_config/Library/Application Support/Plex Media Server
              MODE: remove
              PHOTO_TRANSCODER: true
              EMPTY_TRASH: true
              CLEAN_BUNDLES: true
              OPTIMIZE_DB: true
              TZ: America/Los_Angeles
            envFrom:
              - secretRef:
                  name: plex-secret
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 25m
              limits:
                memory: 400Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values: ["plex"]
              topologyKey: kubernetes.io/hostname
    persistence:
      plex-config:
        existingClaim: plex
        globalMounts:
          - path: /data/plex_config
      plex-cache:
        existingClaim: plex-cache
        globalMounts:
          - path: /data/plex_config/Library/Application Support/Plex Media Server/Cache
      tmpfs:
        type: emptyDir
        advancedMounts:
          imagemaid:
            app:
              - path: /config
                subPath: config
