---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: karma
spec:
  targetNamespace: observability
  interval: 30m
  path: ./kubernetes/apps/observability/karma/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
