---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cnpg-dump
spec:
  targetNamespace: dbms
  interval: 30m
  path: "./kubernetes/apps/dbms/cnpg-dump/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  dependsOn:
    - name: cloudnative-pg-cluster
    - name: akeyless-stores
      namespace: external-secrets
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
