---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: bazarr
spec:
  components:
    - ../../../../components/volsync
    - ../../../../components/nfs-scaler
  interval: 1h
  path: ./kubernetes/apps/downloads/bazarr/app
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: downloads
  wait: false
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
    substitute:
      APP: bazarr
      VOLSYNC_CAPACITY: 5Gi
