---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pocket-id
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless
  target:
    name: pocket-id-secret
    template:
      data:
        # Database Init
        INIT_POSTGRES_HOST: ${CNPG_NAME:=pgsql-cluster}-rw.dbms.svc.cluster.local
        INIT_POSTGRES_DBNAME: "${APP}"
        INIT_POSTGRES_USER: "${APP}"
        INIT_POSTGRES_PASS: "{{ .${APP}_postgres_password }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        # Database
        DB_CONNECTION_STRING: postgres://${APP}:{{ .${APP}_postgres_password }}@${CNPG_NAME:=pgsql-cluster}-rw.dbms.svc.cluster.local/pocket-id
        # App
        ENCRYPTION_KEY: "{{ .POCKET_ID_ENCRYPTION_KEY }}"
        MAXMIND_LICENSE_KEY: "{{ .MAXMIND_LICENSE_KEY }}"
  dataFrom:
    - extract:
        key: pocket-id
    - extract:
        key: cnpg-users
    - extract:
        key: cnpg-operator
