---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pocket-id
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless
  target:
    name: pocket-id-secret
    template:
      data:
        # Database
        DB_CONNECTION_STRING: postgres://${APP}:{{ .${APP}_postgres_password }}@@${CNPG_NAME:=pgsql-cluster}-rw.dbms.svc.cluster.local/pocket-id
        # App
        ENCRYPTION_KEY: "{{ .POCKET_ID_ENCRYPTION_KEY }}"
        MAXMIND_LICENSE_KEY: "{{ .MAXMIND_LICENSE_KEY }}"
  dataFrom:
    - extract:
        key: pocket-id
    - extract:
        key: cnpg-users
