---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pocket-id
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless
  target:
    name: pocket-id-secret
    template:
      data:
        # Database Init
        INIT_POSTGRES_HOST: postgres17-rw.dbms.svc.cluster.local
        INIT_POSTGRES_DBNAME: pocket-id
        INIT_POSTGRES_USER: "{{ .POCKET_ID_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .POCKET_ID_POSTGRES_PASSWORD }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        # Database
        DB_CONNECTION_STRING: postgres://{{ .POCKET_ID_POSTGRES_USER }}:{{ .POCKET_ID_POSTGRES_PASSWORD }}@postgres17-rw.dbms.svc.cluster.local/pocket-id
        # App
        ENCRYPTION_KEY: "{{ .POCKET_ID_ENCRYPTION_KEY }}"
        MAXMIND_LICENSE_KEY: "{{ .MAXMIND_LICENSE_KEY }}"
        # # LDAP
        # LDAP_BASE: "{{ .LDAP_BASE_DN }}"
        # LDAP_BIND_DN: "{{ .LDAP_BIND_DN }}"
        # LDAP_BIND_PASSWORD: "{{ .LDAP_BIND_PASSWORD }}"
        # # SMTP
        # SMTP_HOST: "{{ .SMTP_HOST }}"
        # SMTP_PORT: "587"
        # SMTP_FROM: pocket-id Admin <noreply@${SECRET_DOMAIN}>
        # SMTP_USER: "{{ .SMTP_USERNAME }}"
        # SMTP_PASSWORD: "{{ .SMTP_PASSWORD }}"
        # SMTP_TLS: tls
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: pocket-id
    - extract:
        key: lldap
    - extract:
        key: generic
