---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: lldap
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless
  target:
    name: lldap-secret
    template:
      data:
        # App
        LLDAP_JWT_SECRET: "{{ .LLDAP_JWT_SECRET }}"
        LLDAP_LDAP_USER_PASS: "{{ .LLDAP_LDAP_USER_PASS }}"
        LLDAP_LDAP_USER_EMAIL: "{{ .LLDAP_LDAP_USER_EMAIL }}"
        LLDAP_KEY_SEED: "{{ .LLDAP_SERVER_KEY_SEED }}"
        LLDAP_DATABASE_URL: postgres://${APP}:{{ .${APP}_postgres_password }}@${CNPG_NAME:=pgsql-cluster}-rw.dbms.svc.cluster.local/lldap
        #Smtp
        LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET: "true"
        LLDAP_SMTP_OPTIONS__SERVER: "{{ .SMTP_HOST }}"
        LLDAP_SMTP_OPTIONS__PORT: "{{ .SMTP_PORT }}"
        LLDAP_SMTP_OPTIONS__SMTP_ENCRYPTION: TLS
        LLDAP_SMTP_OPTIONS__USER: "{{ .SMTP_USERNAME }}"
        LLDAP_SMTP_OPTIONS__PASSWORD: "{{ .SMTP_PASSWORD }}"
        LLDAP_SMTP_OPTIONS__FROM: "{{ .SMTP_FROM }}"
        LLDAP_SMTP_OPTIONS__TO: "{{ .SMTP_TO }}"

  dataFrom:
    - extract:
        key: lldap
    - extract:
        key: cnpg-users
    - extract:
        key: smtp
