---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: lldap
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless
  target:
    name: lldap-secret
    template:
      data:
        # Database Init
        INIT_POSTGRES_HOST: postgres17-rw.dbms.svc.cluster.local
        INIT_POSTGRES_DBNAME: lldap
        INIT_POSTGRES_USER: "{{ .LLDAP_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .LLDAP_POSTGRES_PASSWORD }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        # App
        LLDAP_JWT_SECRET: "{{ .LLDAP_JWT_SECRET }}"
        LLDAP_LDAP_USER_PASS: "{{ .LLDAP_LDAP_USER_PASS }}"
        LLDAP_LDAP_USER_EMAIL: "{{ .LLDAP_LDAP_USER_EMAIL }}"
        LLDAP_KEY_SEED: "{{ .LLDAP_SERVER_KEY_SEED }}"
        LLDAP_DATABASE_URL: postgres://{{ .LLDAP_POSTGRES_USER }}:{{ .LLDAP_POSTGRES_PASSWORD }}@postgres17-rw.dbms.svc.cluster.local/lldap
        #Smtp
        LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET: "true"
        LLDAP_SMTP_OPTIONS__SERVER: "{{ .SMTP_HOST }}"
        LLDAP_SMTP_OPTIONS__PORT: "587"
        LLDAP_SMTP_OPTIONS__SMTP_ENCRYPTION: TLS
        LLDAP_SMTP_OPTIONS__USER: "{{ .SMTP_USERNAME }}"
        LLDAP_SMTP_OPTIONS__PASSWORD: "{{ .SMTP_PASSWORD }}"
        LLDAP_SMTP_OPTIONS__FROM: LLDAP Admin <noreply@${SECRET_DOMAIN}>
        LLDAP_SMTP_OPTIONS__TO: Do not reply <noreply@${SECRET_DOMAIN}>

  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: lldap
    - extract:
        key: generic
