---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cnpg-dump
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless
  target:
    name: cnpg-dump-secret
    creationPolicy: Owner
    template:
      data:
        # App
        POSTGRES_HOST: postgres17-ro.dbms.svc.cluster.local
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: "{{ .POSTGRES_SUPER_PASS }}"
        POSTGRES_PORT: "5432"
  dataFrom:
    - extract:
        key: cloudnative-pg
